/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
body{
  background: aliceblue !important;
}
#inicioSesion{
  background-image: url("./assets/images/dp-inventario.jpg");
 /* background-image: 'assets/images/dp-inventario.jpg';/*linear-gradient(to right, #2b858b, #040303c9);*/
  height: 970px;
}


.inputBuscar{
  width: 50% !important;
}

.containerInput{
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}
.search{
  padding: 5px;
}
/*
.fila-seleccionada{
  background-color: #ff0000;
  color: #ffffff;
}
*/
/* responsive */
@media screen and (max-width: 960px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      /*background: #f0f0f0;*/
     /* background: #a13636;*/
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td tr { /* tbody td*/
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }

  .popup-equipo{
    height:auto !important;
    width: auto !important;
    top: 8% !important;
    left: 10% !important;
    right: 10% !important;
  }

}
/*ESTILOS DE LA TABLA */
thead{
  background: rgb(1, 107, 156) !important;
  border:1px solid black !important;
  color: white !important;
}



.contenedor-tabla{
  background: #e8eeefb8;
  padding: 1em;
  border: 1px solid #726a6a7d;
}
